@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-base: 'Poppins', sans-serif;
  --color-primary: #FA8C77;
  --color-secondary: #164A57;
  --color-background: #F5F5F5;
  --color-background-dark: #E0E0E0;
  --padding-base: 1rem;
  --padding-large: 2rem;
  --spacing-custom-large: 4rem;
}

:root {
  font-family: var(--font-base);
  line-height: 1.5;
  background-color: var(--color-background);
  padding-right: var(--padding-base);
  padding-left: var(--padding-base);
}

@media (min-width: 640px) {
  :root {
    padding-right: var(--padding-large);
    padding-left: var(--padding-large);
  }
}
@media (min-width: 1024px) {
  :root {
    padding-right: var(--spacing-custom-large);
    padding-left: var(--spacing-custom-large);
  }
}